@using System.Net
@using Blazor8Auth.Services
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider stateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <Authorized>
                <a href="">@username</a>
            </Authorized>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code 
{
    [Inject] private IAuthService AuthService { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
    private string username = "";
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // A hard refresh or the user just navigated to the application for the first time
        if (firstRender && !AuthService.IsLoggedIn)
        {
            var url = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).ToString();
            if (url.Contains("/login"))
            {
                return;
            }

            var restoredFromState = await AuthService.GetStateFromTokenAsync();
            //The user lost their server side session, but still has a valid JWT
            if (restoredFromState)
            {
                NavigationManager.Refresh();
            }
        }
        
        username = (await stateProvider.GetAuthenticationStateAsync()).User.Identity.Name;
    }
}