@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

<PageTitle>主页</PageTitle>

<h3>基于 Cookie 用户认证演示样例</h3>

<p>当前演示样例展示如何使用基于 Cookie 进行简单用户认证和授权</p>