@page "/login"
@inject NavigationManager NavigationManager

<h3>登录</h3>
<hr/>
<EditForm method="Post" OnSubmit="LoginAsync" Model="@UserInfo" FormName="LoginUser">
    <InputText @bind-Value="UserInfo.Username" class="form-control mb-2"></InputText>
    <InputText @bind-Value="UserInfo.Password" type="password" class="form-control mb-2"></InputText>
    <button type="submit" class="btn btn-primary">登录</button>
</EditForm>

@code 
{
    [CascadingParameter] public HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] public UserLoginInfo UserInfo { get; set; } = new() { Username = "freemanke", Password = "freemanke" };

    public async Task LoginAsync()
    {
        if (UserInfo.Username != "freemanke" || UserInfo.Password != "freemanke")
        {
            return;
        }

        var claims = new List<Claim>();
        claims.Add(new Claim(ClaimTypes.Name, UserInfo.Username));

        var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
        var principal = new ClaimsPrincipal(identity);
        await HttpContext.SignInAsync(principal);

        NavigationManager.NavigateTo("/");
    }
}