@page "/logout"

@inject NavigationManager NavigationManager

<h3>登出</h3>
<p>当前登录用户：@username</p>

<EditForm method="Post" OnSubmit="LogoutAsync" Model="@username" FormName="Logout">
    <button type="submit" class="btn btn-primary mt-2">Logout</button>
</EditForm>

@code 
{
    private string? username = "";
    
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }= default!;

    [CascadingParameter] 
    private Task<AuthenticationState>? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (AuthState is not null)
        {
            var authState = await AuthState;
            username = authState.User.Identity?.Name;
        }
    }

    public async Task LogoutAsync()
    {
        await HttpContext.SignOutAsync();
        NavigationManager.NavigateTo("/");
    }
}